
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #f4f4f4;
}

.galeria {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin: 20px;
}

.galeria img {
width: 300px;
height: 200px;
object-fit: cover;
margin: 10px;
border: 1px solid #ddd;
border-radius: 5px;
transition: transform 0.3s ease-in-out;
cursor: pointer;
}

.galeria img:hover {
transform: scale(1.1);
}

